{% extends "base.html" %}
{% load static i18n %}
{% block title %}Détail recette{% endblock %}
{% block content %}
    <h2 align="center">Recette : {{ object.title }}</h2>
    <p> {{ object.detail }}</p>
    <ul>
        {% for r_i_u in object.ingredients.all %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ r_i_u.ingredient }}</h5>
                    <p class="card-text">{{ r_i_u.quantity }}/{{ r_i_u.unit }} de {{ r_i_u.ingredient }}.</p>
                    <a href="{% url "recipes_search_by_ingredient_list" r_i_u.ingredient %}" class="card-link">Ingrédient
                        : {{ object.name }}</a>
                </div>
            </div>
        {% endfor %}
    </ul>
{% endblock %}