{% load static i18n %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% trans 'Index Python/Django' %}{% endblock %}</title>
    <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/sb-admin-2.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="icon" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/admin">{% trans 'Admin' %}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url "index" %}">{% trans 'Accueil' %} <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {% trans 'Ingrédients' %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"
                               href="{% url "ingredients_list" %}">{% trans 'Liste Ingrédients' %}</a>
                            <a class="dropdown-item"
                               href="{% url "ingredients_form" %}">{% trans 'Ajouter Ingrédient' %}</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {% trans 'Recettes' %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url "recipes_list" %}">{% trans 'Liste Recettes' %}</a>
                            <a class="dropdown-item" href="{% url "recipe_form" %}">{% trans 'Ajouter Recette' %}</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        {% if not user.is_authenticated %}
                        <a class="nav-link" href="{% url "register_form" %}">{% trans 'Inscription' %}</a>
                        {% endif %}
                    </li>
                </ul>
                {% if user.is_authenticated %}
                    <li class="nav-item" align="center"
                        style="color: white">{% trans 'Bonjour et bienvenue' %} {{ user.username }} !
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'logout' %}">{% trans 'Déconnexion' %}</a>
                    </li>
                {% else %}
                    <li class="nav-item" align="center"
                        style="color: white">{% trans 'Non connecté !!!' %} {{ user.username }}
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'login' %}">{% trans 'Connexion' %}</a>
                    </li>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}
<section id="content">
    {% block content %}
        <hr>
    {% endblock %}
</section>
<hr>
<!-- Footer -->
<footer class="page-footer font-small black darken-3">
    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Changer">
    </form>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <p>© 2020 Copyright @</p>
        <a href="https://github.com/xhackax47/">Samy Chaabi</a>
        <br/>
        <a href="cgu">CGU</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->